Attributes [swRefresh="1", refTime="1"]
LoadInstrument Seg7[BoundX="247",BoundY="47",BoundW="64",colBkgnd="16744448",Port="0x00000002",colOff="16777215"]
LoadInstrument Seg7[BoundX="314",BoundY="47",BoundW="64",colBkgnd="16744448",Port="0x00000006",colOff="16777215"]
LoadInstrument DILSwitch[BoundX="213",BoundY="129",BoundH="51",BoundW="201",Port="0x00000008",display1="1",colSwitch="8421504"]
